/* PAD-----------------------*/
.container {
    width: 500px;
    height: 500px;
    display: grid;
}






h1 {

}

.fatty {
    color: navy;
    text-decoration: underline;
}


#size {
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}
/* BUTTONS*/
/* rainbow-------------------------------*/
#rainbow {
    background-color: black;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}
#r{
    color: red;
}
#a{
    color:orange;
}
#i{
    color: rgb(192, 192, 0);
}
#n{
    color: green;
}
#b{
    color: rgb(52, 52, 255);
}
#o{
    color: rgb(111, 35, 165);
}
#w{
    color: violet;
}
/* rainbow----------------------------*/


#reset {
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}


#black{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
#navy{
    background-color: navy;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}
#blue{
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}
#grey{
    background-color: grey;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}
#lb{
    background-color: lightskyblue;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}

.drawingBright{
    background-color: blue;
}

.drawingLight{
    background-color: lightskyblue;
}

.drawingGrey{
    background-color: grey;
}

.drawingBlue{
    background-color: navy;
}
.drawingBlack{
    background-color: black;
}

/* END BUTTONS/COLOURS

/* add blue pen sketch images*/
/* remove shadows on buttons */
/* cssgrid box container*/