body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: lightgray;
    cursor: crosshair;
}
.topControls {
    display: flex;
    gap: 12px;
    margin-bottom: 4px;
}
.chooseres{
    font-size: 22px;
    padding: 0;
    align-self: center;
}
.controls{
    margin: 4px;
}





/* PAD-----------------------*/
.container {
    min-width: 650px;
    max-width: 650px;
    min-height: 650px;
    max-height: 650px;
    display: grid;
    border: 4px solid black;
}
/*500*/





h1 {

}

.bluetitle {
    color: navy;
    text-decoration: underline;
}


#size {
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
}
/* BUTTONS*/
/* rainbow-------------------------------*/
#rainbow {
    background-color: black;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#r{
    color: red;
}
#a{
    color:orange;
}
#i{
    color: rgb(192, 192, 0);
}
#n{
    color: green;
}
#b{
    color: rgb(52, 52, 255);
}
#o{
    color: rgb(111, 35, 165);
}
#w{
    color: violet;
}
/* rainbow----------------------------*/


#reset {
    font-weight: 600;
    color: maroon;
    background-color: black;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}


#black{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}
#lg {
    background-color: lightgray;
    border-style: solid;
    border: 8px;
    font-weight: 600;
    font-size: larger;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#navy{
    background-color: navy;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#blue{
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#grey{
    background-color: grey;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#lb{
    background-color: lightskyblue;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#eraser{
    background-color: pink;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}
#colorPicker{
    cursor: cell;
    padding: 0px;
  
}
.controls {

}*/

/*.drawingBright{
    background-color: blue;
}

.drawingLight{
    background-color: lightskyblue;
}

.drawingGrey{
    background-color: grey;
}

.drawingBlue{
    background-color: navy;
}
.drawingBlack{
    background-color: black;
}

/* END BUTTONS/COLOURS

/* add blue pen sketch images*/
/* remove shadows on buttons */
/* cssgrid box container*/